{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if error %}
  <p class="warning">{{ error }}</p>
  {% endif %}
  <form method="post">
    {% if password_protected %}
    <div>
      <label for="passphrase">Passphrase: </label>
      <input type="text" id="passphrase" name="passphrase" autocomplete="off" />
    </div>
    <button id="submit">Submit</button>
    {% else %}
    <button id="submit" style="width: 100%;">View Secret</button>
    {% endif %}
  </form>
{% endblock %}
